@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f7ebda;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.welcome-bg {
  background: url('/welcome-page-bg.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hs-bg {
  background-color: #101118;
  background-image: url('/pandasia-bg-pattern-small.png');
}
.success-bg {
  background-color: #f5e6d0;
  background-image: url('/youre-in-pattern.svg');
}

.dotted-bottom-border {
   background-image: linear-gradient(to right, transparent 90%, rgb(61,63,79) 0%);
   background-position: bottom;
   background-size: 8px 1px;
   background-repeat: repeat-x;
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #101118;
  background-image: url('/pandasia-bg-pattern-small.png');
  transform-origin: top;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #101118;
  background-image: url('/pandasia-bg-pattern-small.png');
  transform-origin: top;
}

.slide-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  background-color: #101118;
  background-image: url('/pandasia-bg-pattern-small.png');
}
.slide-right {
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100vh;
  background-color: #101118;
  background-image: url('/pandasia-bg-pattern-small.png');
}

/* Tailwind Combined Classes */
.hover-glow {
  @apply cursor-pointer text-primary-600 transition-colors duration-300 hover:border-primary-300 hover:text-primary-300;
}

.hover-glow-secondary {
  @apply cursor-pointer text-secondary-700 transition-colors duration-300 hover:border-secondary-500 hover:text-secondary-500;
}

.skeleton {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

